.navbar {
    background-color: #DDDAD9;
    box-shadow: 20px 20px 19px #0000000d;
    padding-bottom: 10px;
    padding-top: 0.5em;
}
a {
    text-decoration: none;
    color: black;
}
.orange {
  color: #CF5A20;
}
a:hover {
    color: #DE9E00;
}
.btn {
    border-color: transparent;
    color: black;
    padding: 5px;
    margin-left: 15px;
}
.btn:hover {
    color: black;
    border-color: white;
    background-color: #CF5A20;
}
.search-field {
    background-color: ffffff;
    border-color: black;
}
.search-field:hover {
    background-color: white;
}
.search-field:focus {
    background-color: #ffffff;
    color: #ffffff;
}
