<nav class="navbar navbar-expand-lg navbar-transparent sticky-top">
  <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Sign In / Sign Up<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 ml-auto my-lg-0">
      <input class="form-control ml-auto search-field" type="search" placeholder="Search all vehicles"
        aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
