.navbar {
    background-color: #F2F5F7;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: white;
}
.btn {
    border-color: transparent;
    color: black;
    padding: 5px;
    margin-left: 15px;
}
.btn:hover {
    color: black;
    border-color: white;
    background-color: white;
}
.search-field {
    background-color: #F2F5F7;
    border-color: black;
}
.search-field:hover {
    background-color: white;
}
.search-field:focus {
    background-color: white;
}
