.navbar {
  background-color: #01141c;
  box-shadow: 20px 20px 19px #0000000d;
  padding-bottom: 10px;
  padding-top: 0.5em;
  font-family: 'Poppins';
}
a {
  text-decoration: none;
  color: #fff;
}
.orange {
  color: #4c6874;
}
a:hover {
  color: #fff;
}
.btn {
  border-color: #4c6874;
  color: #4c6874;
  padding: 5px;
  margin-left: 15px;
}
.btn:hover {
  color: #fff;
  border-color: #fff;
  background-color: #4c6874;
}
.search-field {
  background-color: #ffffff;
  border-color: black;
}
.search-field:hover {
  background-color: white;
}
.search-field:focus {
  background-color: #ffffff;
  color: #ffffff;
}
.small-text {
  font-size: 0.5;
  color: white;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .navbar {
    margin-top: -0.25em;
  }
}
