body {
  padding-top: 4em;
  background-image: linear-gradient(to bottom, #4c6874, #f3f3f7);
  height: 100vh;
  text-align: center;
}
.sign-in-form {
  background-color: #e8f0f3;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 20px 20px 19px #0000000d;
}
.left-table {
  border-right: solid;
  height: 70vh;
  margin-top: 1em;
}
.right-table {
  padding-top: 1em;
}
.padding-box {
  padding-top: 2.5em;
}
.input-field {
  border-color: black;
  width: 70%;
}
.btn {
  border-color: transparent;
  color: black;
  background-color: white;
}
.btn:hover {
  color: black;
  border-color: white;
  background-color: white;
}
.col-md {
  text-align: center;
}
.form-group {
  margin-left: 5em;
}
.form-row {
  margin-left: 1em;
}
h1 {
  color: #142f3c;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  body {
    padding-top: 0;
  }
  h1 {
    margin-left: 3.2em;
    margin-bottom: -1.5em;
    padding-bottom: 1em;
  }
  .input-field {
    width: 90%;
  }
  .padding-box {
    margin-top: -2em;
  }
  .left-table {
    border: none;
    margin-left: -4.4em;
    margin-bottom: -8em;
  }
  .form-check {
    padding-left: 8.5em;
    padding-top: 0.5em;
  }
  .right-table {
    border: none;
    margin-left: -4.2em;
  }
  .btn-primary {
    margin-left: 7.5em;
  }
}
