body {
    padding-top: 4em;
    background-color:   #F2F5F7;
    height: 100vh;
    text-align: center;
}
.sign-in-form {
  background-color: rgba(0, 128, 128, 0.1);
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 20px 20px 19px #0000000d;

}
.left-table {
    border-right: solid;
    height: 70vh;
    margin-top: 1em;
}
.padding-box {
  padding-top: 2.5em;
}
.input-field {
    border-color: black;
    width: 70%;
}
.btn {
    border-color: transparent;
    color: black;
    background-color: transparent;
}
.btn:hover {
    color: black;
    border-color: white;
    background-color: white;
}
.col-md {
    text-align: center;
}
.form-group {
    margin-left: 5em;
}
.form-row {
    margin-left: 1em;
}
