<div *ngIf="vehicle" class="card w-80 h-100">
  <div class="card-body">
      <div class="w-100">
          <div class="flex test">
              <h5 class="card-title">{{vehicle.year}} {{vehicle.make | uppercase}} {{vehicle.model | titlecase}}</h5>
              <div class="flex ml-auto vehicle-img">
                <img class="img img-fluid" [src]="vehicleImg" (error)="setDefaultPic()" />
            </div>
              <h6>Mileage: {{ vehicle.mileage }}<br>{{vehicle.condition}}, {{vehicle.color}}<br>${{vehicle.price}}</h6>
          </div>
      </div>
  </div>
</div>
