<app-navbar></app-navbar>
<head>

</head>
<body>
<div class="container-main col-lg-12">
    <div class="row">
        <h1 class="welcome-text">What can we help you find today?</h1>
    </div>
    <div class="row vehicle-selection">
        <div class="col-md-3">
            <a href="#"><i class="fas fa-shuttle-van link-icon"></i></a>
        </div>
        <div class="col-md-3">
            <a href="#"><i class="fas fa-truck-pickup link-icon"></i></a>
        </div>
        <div class="col-md-3">
            <a href="#"><i class="fas fa-car-side link-icon"></i></a>
        </div>
    </div>
</div>
</body>
<router-outlet></router-outlet>
