.vehicles-div {
  background-color: rgba(197, 112, 63, 0.1);
  margin-right: 10em;
  margin-left: 10em;
  padding-left: 4em;
  box-shadow: 20px 20px 19px #0000000d;
  border-style: solid;
  border-radius: 6px;
  border-color: transparent;
  border-width: 1px;
}
.card {
  margin-right: 1em;
  margin-left: 1em;
}
.view-all-link {
  line-height: 5em;
  padding-left: 70%;
}
.about {
  box-shadow: 20px 20px 19px #0000000d;
  border-style: solid;
  border-radius: 6px;
  border-color: transparent;
  border-width: 1px;
  background-color: white;
  margin-right: 8em;
  margin-left: 8em;
  text-align: left;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 2em;
  padding-bottom: 1em;
  background-color: rgba(197, 112, 63, 0.1);
}
// .overlay {
//   background-color: rgba(251, 239, 0, 0.2);
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 25em;
// }
.indent {
  padding-left: 2em;
}
.contact {
  margin-left: 47%;
}
.header {
    font-size: 4em;
    color: #CF5A20;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}
.subheader {
  font-size: 4em;
  color: #CF5A20;
  padding-top: 1em;
  padding-bottom: 0.25em;
}
.fa-icon {
    color: white;
}
.row {
    justify-content: center;
    align-items: center;
    height: 100%;
}
.vehicle-selection {
    margin-top: 5em;
    padding-bottom: 5em;
}
.link-icon {
    font-size: 7em;
    color: black;
}
.link-icon:hover {
  color: #8499D3;
}
a {
    text-decoration: none;
    color: #DE9E00;
}
a:hover {
    color: rgba(207, 90, 32, 0.7);
}
.sort-box {
  padding-top: 5em;
}
body {
    background-color: #DDDAD9;
    width: 100%;
    height: 240vh;
    margin: 0;
  }
p {
  line-height: 1.5em;
}
