.vehicles-div {
  background-color: #e8f0f3;
  margin-right: 10em;
  margin-left: 15em;
  padding-left: 6.5em;
  width: 70%;
  box-shadow: 20px 20px 19px #0000000d;
  border-style: solid;
  border-radius: 6px;
  border-color: transparent;
  border-width: 1px;
}
.card {
  margin-right: 1em;
  margin-left: 1em;
}
.view-all-link {
  line-height: 3em;
  padding-left: 70%;
}
.about {
  box-shadow: 20px 20px 19px #0000000d;
  border-style: solid;
  border-radius: 6px;
  border-color: transparent;
  border-width: 1px;
  background-color: #e8f0f3;
  margin-right: 8em;
  margin-left: 8em;
  text-align: left;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 2em;
  padding-bottom: 1em;
}
.indent {
  padding-left: 2em;
}
.contact {
  margin-left: 47%;
}
.header {
  font-size: 4em;
  color: #142f3c;
  padding-top: 0.8em;
  padding-bottom: 0.25em;
  font-family: "Poppins";
}
.subheader {
  font-size: 4em;
  color: #142f3c;
  padding-top: 0.8em;
  padding-bottom: 0.25em;
  font-family: "Poppins";
}
.fa-icon {
  color: white;
}
.row {
  justify-content: center;
  align-items: center;
  height: 100%;
}
.link-icon {
  font-size: 7em;
  color: black;
}
.link-icon:hover {
  color: #8499d3;
}
a {
  text-decoration: none;
  color: #34545c;
}
a:hover {
  color: #fff;
}
.sort-box {
  padding-top: 5em;
}
body {
  background-image: linear-gradient(to bottom, #4c6874, #f3f3f7);
  width: 100%;
  height: 100%;
  margin: 0;
}
p {
  line-height: 1.5em;
}
.blue-text {
  color: #34545c;
}
.spacer {
  height: 2em;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .about {
    width: 90%;
    margin-left: 1.5em;
    font-size: 0.75em;
  }
  .vehicles-div {
    width: 90%;
    margin-left: 1.5em;
    font-size: 0.75em;
    padding-bottom: -20px;
  }
  body {
    margin: 0 auto;
    height: 100%;
  }
  .header {
    font-size: 3em;
  }
  .subheader {
    font-size: 3em;
    padding-top: 1.5em;
  }
}
